<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Matchmaking</title>
    <link rel="stylesheet" href="/styles/frontpage.css" type="text/css">
</head>
<body>


    <div class="navbar">
        <a href="/api/teamplayer/settings" class="dropbtn">Settings</a>
    </div>
    <div class="search-container">
        <form>
            <input type="text" id="search_bar" name="sb" class="input-text" placeholder="User123">
            <button type="button" id="search_button" class="search-button" onclick="searchPlayers(event)">Search</button>
        </form>
    </div>
    <div class="game-container">
        <img src="/images/Brawl_stars.jpg" alt="Brawl Stars" class="game-image" onclick="selectBrawlStars()">
       
        <img src="/images/leaguepage.jpg" alt="League of Legends" class="game-image" onclick="selectLeagueOfLegends()">
       
       
        <img src="/images/fortnite.png" alt="Fortnite" class="game-image" onclick="selectFortnite()">
    
        
        <img src="/images/Valorantpage.jpg" alt="Valorant" class="game-image" onclick="selectValorant()">
        
    </div>

    <table>
        <tr th:each="player : ${players}">
            <td type="text" th:value="${player.username}"></td>
        </tr>
    </table>

    <script src="/scripts/frontpage.js"></script>
</body>
</html>