<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Matchmaking</title>
    <link rel="stylesheet" href="/styles/frontpage.css" type="text/css">
</head>
<body>


    <div class="navbar">
        <a href="/api/teamplayer/settings" class="dropbtn">Settings</a>
    </div>
    <div class="game-container">
        <a class="image-link" href="/api/teamplayer/teamplayer.html" onclick="selectBrawlStars()">
            <img src="/images/Brawl_stars.jpg" alt="Brawl Stars" name="bs" class="game-image">
        </a>
        <a class="image-link" href="/api/teamplayer/teamplayer.html" onclick="selectLeagueOfLegends()">
            <img src="/images/leaguepage.jpg" alt="League of Legends" name="lol" class="game-image">
        </a>
        <a class="image-link" href="/api/teamplayer/teamplayer.html" onclick="selectRocketLeague()">
            <img src="/images/Rocket league.jpg" href="/api/teamplayer/teamplayer.html" alt="Rocket League" class="game-image">
        </a>
        <a class="image-link" href="/api/teamplayer/teamplayer.html" onclick="selectValorant()">
            <img src="/images/Valorantpage.jpg" href="/api/teamplayer/teamplayer.html" alt="Valorant" class="game-image">
        </a>
    </div>


<script src="/scripts/frontpage.js"></script>
</body>
</html>