<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/list.css" type="text/css">
</head>
<body>
<div class="heading">Find a Player</div>
<div class = "cards-container">
    <div th:each="player : ${players}" class="player-card">
        <div><span th:text="${player.username}">Username</span></div>
        <div><span th:text="${player.bs} ? 'Brawl Stars' : ''">BS</span></div>
        <div><span th:text="${player.valo} ? 'Valorant' : ''">Valo</span></div>
        <div><span th:text="${player.lol} ? 'League of Legends' : ''">LOL</span></div>
        <div><span th:text="${player.fort} ? 'Rocket League' : ''">Fort</span></div>
        <div class="text">Discord: <span th:text="${player.discord}">Discord</span></div>
        <div class="text">About Me: <span th:text="${player.aboutme}">About Me</span></div>
    </div>
</div>
</body>
</html>