<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Profile</title>
</head>
<body>
    <div class="player-card" th:text="${player.username}">
        <div class="username-pfp-container">
            <div class="username">   </div>
            <div class="pfp">   </div>
        </div>
        <div class="about-discord-container">
            <div class="about-container">
                <div class="abouth">   </div>
                <div class="about"> </div>
            </div>
            <div class="discord-container">
                <div class="discordh">   </div>
                <div class="discord"> </div>
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>