<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Profile</title>
    <link rel="stylesheet" type="text/css" href="/styles/player.css">
</head>
<body>
    <div class="player-card">
        <div class="vid-separators">
            <div class="username-pfp-container">
                <div class="username" th:text="${player.username}">Username</div>
                <div class="pfp"><img th:src="${imageData}" alt="pfp"></div>
            </div>
            <div class="about-discord-container">
                <div class="about-container">
                    <div class="aboutme-header">About me</div>
                    <div class="aboutme" th:text="${player.aboutme}"></div>
                </div>
                <div class="discord-container">
                    <div class="discord-header">Discord</div>
                    <div class="discord" th:text="${player.discord}"></div>
                </div>
            </div>
            <div class="vid-container">
                <video class="vid" th:src="${highlight1}" type="video/mp4" controls></video>
                <video class="vid" th:src="${highlight2}" type="video/mp4" controls></video>
                <video class="vid" th:src="${highlight3}" type="video/mp4" controls></video>
                <video class="vid" th:src="${highlight4}" type="video/mp4" controls></video>
                <video class="vid" th:src="${highlight5}" type="video/mp4" controls></video>
            </div>
        </div>
    </div>
    <script src="/scripts/player.js"></script>
</body>
</html>