<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site</title>
    <link rel="stylesheet" href="/styles/settings.css">
</head>
<body>
    <form class="games-list">
        <div class="game-item">
            <input type="checkbox" id="LoL" name="lol" class="game-checkbox">
            <label for="LoL" class="game-label">League of Legends</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="Valorant" name="valo" class="game-checkbox">
            <label for="Valorant" class="game-label">Valorant</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="RocketLeague" name="fort" class="game-checkbox">
            <label for="RocketLeague" class="game-label">Rocket League</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="BrawlStars" name="bs" class="game-checkbox">
            <label for="BrawlStars" class="game-label">Brawl Stars</label>
        </div>

        <div class="input-item">
            <label for="contactInfo" class="input-label">Discord:</label>
            <input type="text" id="contactInfo" name="discord" class="input-text">
        </div>
        
        <!-- About Me Textarea -->
        <div class="input-item">
            <label for="aboutMe" class="input-label">About Me:</label>
            <textarea id="aboutMe" name="aboutme" class="input-textarea"></textarea>
        </div>

        <div class="input-item">
            <label for="aboutMe" class="input-label">Profile picture</label>
            <input type="file" id="profile_picture" onchange="imageUploaded()" name="pfp" accept="image/jpeg" class="input-textarea">
        </div>

        <div class="input-item">
            <label for="aboutMe" class="input-label">Highlights</label>
            <input type="file" id="highlights" onchange="videoUploaded()" name="highlights" accept="video/mp4" multiple class="input-textarea">
        </div>

        <div class="submit-container">
            <input type="submit" class="submit-btn">
        </div>
    </form>
    <script src="/scripts/tags.js"></script>
</body>
</html>