<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/styles/settings.css">
    <link rel="icon" type="image/jpg" href="/images/pngtree-controller-joystick-icon-png-image_6409450.jpg">
</head>
<body>
    <form class="games-list">
        <div class="game-item">
            <input type="checkbox" id="LoL" name="lol" class="game-checkbox" th:checked="${player.lol}">
            <label for="LoL" class="game-label">League of Legends</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="Valorant" name="valo" class="game-checkbox" th:checked="${player.valo}">
            <label for="Valorant" class="game-label">Valorant</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="RocketLeague" name="fort" class="game-checkbox" th:checked="${player.fort}">
            <label for="RocketLeague" class="game-label">Fortnite</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="BrawlStars" name="bs" class="game-checkbox" th:checked="${player.bs}">
            <label for="BrawlStars" class="game-label">Brawl Stars</label>
        </div>

        <div class="input-item">
            <label for="contactInfo" class="input-label">Discord:</label>
            <input type="text" id="contactInfo" name="discord" class="input-text" th:value="${player.discord}">
        </div>
        
        <!-- About Me Textarea -->
        <div class="input-item">
            <label for="aboutMe" class="input-label">About Me:</label>
            <input type="text" id="aboutMe" name="aboutme" class="input-text" th:value="${player.aboutme}">
        </div>

        <div class="input-item">
            <label for="profile_picture" class="input-label">Profile picture</label>
            <input type="file" id="profile_picture" onchange="imageUploaded()" name="pfp" accept="image/jpeg" class="input-textarea" th:value="${player.pfp}">
            <img class="pfp" th:src="${pfp}">
        </div>

        <div class="input-item">
            <label for="highlights" class="input-label">Highlights</label>
            <input type="file" id="highlights" onchange="videoUploaded()" name="highlights" accept="video/mp4" multiple class="input-textarea">
            <video class="vid" th:src="${highlight1}" type="video/mp4" controls></video>
            <video class="vid" th:src="${highlight2}" type="video/mp4" controls></video>
            <video class="vid" th:src="${highlight3}" type="video/mp4" controls></video>
            <video class="vid" th:src="${highlight4}" type="video/mp4" controls></video>
            <video class="vid" th:src="${highlight5}" type="video/mp4" controls></video>
        </div>

        <div class="submit-container">
            <input type="submit" class="submit-btn">
        </div>
    </form>
    <button class="back-button" onclick="goBack()">Back</button>
    <script src="/scripts/tags.js"></script>
</body>
</html>