body {
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
    margin: 0;
    padding: 20px;
    background: #121212; /* Dark background for a gaming feel */
    color: #000000; /* Light text color for contrast */
}

.heading {
    font-size: 3em;
    color: #4dff4d; /* Neon green to match other headings */
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.player-card {
    flex: 0 1 calc(20% - 20px);
    border: 1px solid #333; /* Subtle border color */
    padding: 15px;
    border-radius: 8px;
    background: #1e1e1e; /* Dark card background */
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2); /* Neon green glow effect */
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    overflow: hidden;
}

.player-card .text {
    margin-top: auto;
    max-height: 100px;
    overflow-y: auto; /* Allows scrolling for overflow text */
}

.player-card:hover {
    transform: translateY(-5px); /* Lift effect on hover for interactivity */
    cursor: pointer;
}

.player-card div, .player-card span {
    font-size: 1.2em;
    color: #000000; /* Light grey text for readability */
}

.player-card div:first-child span {
    font-weight: bold;
    font-size: 1.8em; /* Larger username size */
    color: #33a333; /* Neon green for emphasis */
}

.text {
    margin-top: auto; /* Aligns the text at the bottom */
}

.back-button{
    border: 3px solid;
    border-radius: 15px;
    background-color: hsl(126, 90%, 58%);
    margin: 33px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    outline: none;
    position: absolute; /* Positions relative to the nearest positioned ancestor */
    top: 10px; /* Adjust the top distance to your liking */
    right: 10px; /* Adjust the right distance to your liking */
}
.back-button:hover{
    background-color: transparent;
    color: hsl(126, 90%, 58%);
    border-color: hsl(126, 90%, 58%);
    transform: scale(1.1)
}
.back-button:active{
    transform: scale(0.9);
}
